.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
}

.main {
  height: 80vh;
  width: 90vw;
  border-radius: 5px;
  border: solid blueviolet;
  display: flex;
}

.sidestory {
  height: 80vh;
  width: 25vw;
  color: aliceblue;
  background-color: crimson;
}

.form {
  height: 80vh;
  width: 675px;
  background-color: darksalmon;
  /* display: grid;
  grid-template-columns: 225px 225px 225px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px; */

}

.title{
  color: rebeccapurple;
  grid-row: ;
}

.name{

}

.breed{

}

.birthday{

}

.spayed{

}

.weight{

}

.gender{

}